/**********************************************General selectors**********************************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #528D8C;
  font-weight: bold;
  background-color: black;
}

h1 {
  font-size: 5.625rem;
  margin: 3.125rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #EEEEEE;
}

h2 {
  color: #00ADB5;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 0.625rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #00ADB5;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-width: 0.375rem;
  color: #EAF6F6;
  margin: 6.25rem auto;
}

p {
  line-height: 2;
}

li {
  display: block;
}

/**********************************************Class selectors**********************************************/
.top-container {
  background-color: #222831;
  position: relative;
  padding-top: 6.25rem;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  top: 2.5rem;
  right: 18.75rem;
}

.bottom-cloud {
  position: absolute;
  left: 15.625rem;
  bottom: 18.75rem;
}

.discription {
  color: #EEEEEE;
}

.body_photo {
  width: 17%;
  height: 17%;
  border-radius: 50%;
}

.body_gif {
  width: 25%;
  height: 25%;
}

.middle-container {
  margin: 6.25rem 0;
}

.even_gif {
  float: right;
  margin-left: 1.875rem;
}

.odd_gif {
  float: left;
  margin-right: 1.875rem;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto;
  text-align: left;
  line-height: 2;
}
.projects {
  width: 50%;
  margin: 6.25rem auto;
  text-align: left;
  line-height: 2;
}

.mid-para {
  overflow: hidden;
}

.contact-para {
  overflow: hidden;
  width: 40%;
  margin: 2.5rem auto 3.75rem;
}

.intro-para {
  width: 30%;
  margin: auto;
}

.contact-me {
  margin: 3.75rem auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 3.125rem 0 1.25rem;
}

.footer-link {
  margin: 0.625rem 1.25rem;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 1.25rem 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}

.mode {
  background: #222831;
  background-image: -webkit-linear-gradient(top, #393E46, #222831);
  background-image: -moz-linear-gradient(top, #393E46, #222831);
  background-image: -ms-linear-gradient(top, #393E46, #222831);
  background-image: -o-linear-gradient(top, #393E46, #222831);
  background-image: linear-gradient(to bottom, #393E46, #222831);
    -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem 0.625rem 1.25rem;
  text-decoration: none;
}

.mode:hover {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  text-decoration: none;
}




/**********************************************ID selectors**********************************************/
